@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/* variabili per colori */
:root {
  --bgHeader: #ffc017;
  --font: #191919;
  --green: #1a8917;
}
/* classi per pagina */
.paddingPage {
  padding-inline: 15%;
}
.marginBottom {
  border-bottom: 2px solid black;
}
.fontBlack {
  color: var(--font);
}

/* HEADER */
header {
  background-color: var(--bgHeader);
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: 1rem 0;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 2em;
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: var(--font);
}

.blackBg {
  background-color: black;
  padding: 1rem;
  border-radius: 50px;
}

.blackBg a {
  color: white;
}
/* MAIN */
