@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/* variabili per colori */
:root {
  --bgHeader: #ffc017;
  --font: #191919;
  --green: #1a8917;
  --font2: gray;
}
/* classi per pagina */

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

p {
  font-weight: 700;
}

strong {
  font-weight: 900;
}

.sectionTitle {
  font-weight: 700;
}
.paddingPage {
  padding-inline: 15%;
}
.marginBottom {
  border-bottom: 2px solid black;
}
.fontBlack {
  color: var(--font);
}
.sticky {
  background-color: var(--bgHeader);
  position: sticky;
  top: 0;
  z-index: 100;
}

/* HEADER */
header {
  background-color: var(--bgHeader);
}

nav {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: 1rem 0;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 2em;
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: var(--font);
}

.blackBg {
  background-color: black;
  padding: 1rem;
  border-radius: 50px;
  color: white;
  border: 0;
}

.blackBg a {
  color: white;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* font-size: 2rem; */
}

.paddingLeft {
  padding-left: 15%;
}

.hero div {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  align-items: flex-start;
}

h1 {
  font-family: "Spectral", "Times New Roman", Times, serif;
  font-size: 8rem;
}

.hero p {
  font-size: 1.8rem;
  font-weight: 500;
}

.hero button {
  padding: 0.5rem 4rem;
  font-size: 1.5rem;
}
/* .hero div h1,
.hero div p,
.hero div button {
  margin-bottom: 3rem;
} */

svg {
  width: 55%;
}
/* MAIN */
.trendsDiv {
  border-bottom: 2px solid gray;
}

.trends {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sectionTitle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
}

/* trending card */
.tendsArticles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.trendCard {
  display: flex;
  align-items: start;
  gap: 2rem;
  font-size: 1.2rem;
  width: 30%;
}

.cardNum {
  font-size: 2rem;
  font-weight: 900;
  color: lightgray;
}

.cardBio {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  justify-content: space-between;
}

.cardAuthor {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cardAuthor img {
  border-radius: 50%;
  width: 25px;
}

.cardAuthor p {
  font-weight: 400;
  font-size: 0.8rem;
}
.cardDate p {
  font-weight: 400;
  color: var(--font2);
}

/* articles */

.articleSection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 7%;
}

.articles /* coontenitore degli articoli */ {
  display: flex;
  width: 60%;
}

.articleCard {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  height: 150px;
}
.cardImg img /* immagine delle carte articolo */ {
  height: 100%;
  width: auto;
}

.summary p {
  font-weight: 400;
  color: var(--font2);
}
.cardDate {
  display: flex;
  justify-content: space-between;
}
.cardDate p {
  display: flex;
  align-items: center;
}

/* aside */

aside {
  width: 30%;
}
aside h4 {
  font-size: 0.8rem;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.categories a {
  text-decoration: none;
  color: var(--font);
  font-size: 0.8rem;
  padding: 0.5rem;
  border: 1px solid black;
}
